<mz-navbar>
	<a [routerLink]="['/home']"><strong>Página Inicial</strong></a>
	<mz-navbar-item-container [align]="'right'">
		<mz-navbar-item><a *ngIf="!tokenAuthService.userSignedIn()" [routerLink]="['/login']"><strong>Entrar</strong></a></mz-navbar-item>
		<mz-navbar-item><a *ngIf="!tokenAuthService.userSignedIn()" [routerLink]="['/register']"><strong>Registrar</strong></a></mz-navbar-item>
		<mz-navbar-item><a *ngIf="tokenAuthService.userSignedIn()" (click)="tokenAuthService.signOut()"><strong>Sair</strong></a></mz-navbar-item>
	</mz-navbar-item-container>
</mz-navbar>
